/* Footer Styling */
.footer {
    background-color: #1e3a5f; /* Dark Brown */
    color:white;
    padding: 40px 20px;
    text-align: center;
   
}

/* Center Content */
.container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items */
}

/* Title Center */
.footer-title {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    color:#FF7700;
    font-style: normal;
}

/* Flexbox Layout for Boxes */
.footer-content {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px; /* Add spacing */
    width: 100%;
}

/* Footer Boxes */
.footer-box {
    width: 30%;
    padding: 20px;
    border: 1px solid #FF7700;
    border-radius: 10px;
    text-align: left;
    min-width: 280px; /* Prevent boxes from being too small */
}

/* Social Button */
.social-btn {
    background: none;
    border: 1px solid #FF7700;
    padding: 10px;
    color: white;
    font-style: italic;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px;
    width: 100%;
}

.social-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}